.modal-overlay {
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.4);
}

.modal-overlay.flex {
    display: flex;
}

.modal-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
}